
.GridStyle{
  position: relative;
  background-color: #805c5c;

}
.product-grid {
    z-index: -100;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 15rem;
  }
  
  .product-card {
    background-color: #c7ae83;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
    .product-image {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  
  .product-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
  
  .product-description {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 8px;
  }
  
  .product-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #28a745;
  }
  
  .product-stock {
    font-size: 0.9rem;
    color: #888;
  }
  
  /* Button styling */
  .product-button {
    background-color: #F43016;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
  }
  
  .product-button:hover {
    background-color: #0056b3;
  }

.controlsWrapper{
    position: absolute;
  }
.controls{
  display: flex;
  flex-direction: column;
  position: fixed;
;
}
   /* .controls {
    position: absolute;
    top: 3rem; 
    left: 1rem;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  } */
  .dropdown {
    background-color:#F43016;
    padding: 8px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ddd;
  }
