
.ordersGrid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: auto;
  }

  .orderItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e2c8c8;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
 
  
   
  }
  .orderDetails {
    display: flex;
    flex-direction: column;
    width: 100%; 
    
  }

  .orderItem:hover {
    transform: scale(1.02);
  }


  .orderTotal {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
    position: absolute;
    right: 0;
    top:2.5rem;
  }

  .orderItems {
    margin-top: 1rem;
    background: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  }

 
  @media (max-width: 768px) {
    .orderItem {
      flex-direction: column;
      align-items: flex-start;
      padding: 1.5rem;
    }
    .orderDetails {
      display: flex;
      flex-direction: column;
      width: 100%; 
      
    }

    .orderTotal {
      margin-top: 0.5rem;
      font-size: 1.3rem;
    }
    .orderItem{
     h1, h2{
      font-size: 1rem;
     }
     h3{
      font-size: 0.8rem;
     }

    }
  }