@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

.cardo-regular {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}

.cardo-bold {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-style: normal;
}

.cardo-regular-italic {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: italic;
}

:root {
  font-family: "cardo-regular", "cardo-bold","cardo-regular-italic", "serif";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #201e1e;


}

a{
  text-decoration: none;
	color: inherit;
}

html, body {
   overflow-x: hidden;

}

body{
  overflow: hidden;
  padding: 0;
  margin: 0;
}



