@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #201e1e;
}

a{
  text-decoration: none;
	color: inherit;
}

html, body {
   overflow-x: hidden;

}

body{
  font-family: "Comfortaa";
  overflow: hidden;
  padding: 0;
  margin: 0;
}



